body
{
    overflow-x: hidden;
}

#headNav > object
{
    width: 100px;
}

#carouselItem
{
    width: 100vw;
    height: 35vw;
    overflow: hidden;
}

.hero
{
    position: relative;
    width: 100vw;
}

.backgroundCarousel
{
    width: 100vw;
}

.backgroundCarousel > div > div > div:first-child > div
{
    background-image: url("../assets/hero_01.jpg");
    background-size: cover;
}

.backgroundCarousel > div > div > div:nth-child(2) > div
{
    background-image: url("../assets/hero_02.jpg");
    background-size: cover;
}

.backgroundCarousel > div > div > div:nth-child(3) > div
{
    background-image: url("../assets/hero03.png");
    background-size: cover;
}

.heroText
{
    text-align: center;
    position: absolute;
    background-color: #000c;
    top: 0;
    width: 100vw;
    height: 100%;
}

.heroText > object
{
    position: relative;
    top: 5vw;
    width: 40vw;
}

h1
{
    font-size: 32px;
}

.about
{
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
}

.aboutImage
{
    width: 80vw;
}

.services
{
    margin-top: 40px;
    background-color: #DD5B5E;
    color: white;
    text-align: center;
}

.services h1
{
    padding-top: 20px;
}

.services object
{
    width: 50%;
}

.card
{
    max-width: 80vw;
    margin: 20px 0;
}

/* DESKTOP VIEW */

@media (min-width: 992px)
{
    h1
    {
        font-size: 40px;
    }

    .about
    {
        margin: 2vw;
        text-align: left;
        padding: 0;
    }

    #aboutText
    {
        position: relative;
    }

    .aboutText
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .aboutImage
    {
        width: 40vw;
    }

    .services h1
    {
        padding-bottom: 20px;
    }

    .card
    {
        margin: 0;
    }
}